.gitattributes !filter !diff
Mackup/books/hosts.yml filter=git-crypt diff=git-crypt
Mackup/books/playbooks/tasks/k0s/services/* filter=git-crypt diff=git-crypt
Mackup/books/playbooks/tasks/files/*-env filter=git-crypt diff=git-crypt
Mackup/books/playbooks/tasks/files/*-hosts filter=git-crypt diff=git-crypt
Mackup/books/playbooks/tasks/files/*-sudoers filter=git-crypt diff=git-crypt
Mackup/.gnupkg/** filter=git-crypt diff=git-crypt
Mackup/.ssh/** filter=git-crypt diff=git-crypt
Mackup/pihole/** filter=git-crypt diff=git-crypt
credentials/** filter=git-crypt diff=git-crypt
credentials/certs/** filter=git-crypt diff=git-crypt
docker/intellij/** filter=git-crypt diff=git-crypt
docker/novnc/ssl/** filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.secret filter=git-crypt diff=git-crypt
shell/*.key filter=git-crypt diff=git-crypt
shell/*.secret filter=git-crypt diff=git-crypt


