PIHOLE_IP={{pi_hole_ip}}
PIHOLE_PROXY={{pi_hole_proxy}}
PIHOLE_VHOST={{pi_hole_vhost}}
PIHOLE_HOSTNAME={{pi_hole_hostname}}
PIHOLE_PASSWORD={{pi_hole_password}}
PIHOLE_SUBNET={{docker_network_subnet}}
