#cloud-config
#password: k0s- # for the 'ubuntu' user in case we can't SSH in
#chpasswd: { expire: false }
#ssh_pwauth: true

---
users:
    - default
    - name: k0s
      ssh-authorized-keys:
    {%- for key in ssh_keys %}
        - [ {{ key }} ]
    {%  endfor %}
      sudo: ['ALL=(ALL) NOPASSWD:ALL']
      groups: sudo
      shell: /bin/bash
hostname: {{ hostname }}
runcmd:
{%- for command in commands %}
    - [ {{ command }} ]
{%  endfor %}

final_message: "Cloud init is done.  Woohoo!"